body {
    margin: 0;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #075E54;
    position: sticky;
    top: 0;
    z-index: 2;
}
#flex-container1 {
    display: flex; 
    flex-direction: row;
    position: relative;
}

#flex-container2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 25px;
    top: 35px;
    gap: 20px;

}
.marin-profile {
    margin-top: 15px;
    border-radius: 85px;
    width: 75px;
    height: 75px;
}
.welcome-text {
    padding: 15px;
    color: white;
    font-size: 25px;
}
.arrow {
    color: white;
    font-size: 25px;
}
.arrow-style {
    text-decoration: none;
    padding: 37px 5px 0px 5px;
}
main {
    background-image: url('asset/bg.jpeg');
    background-attachment: fixed;
    padding: 7px 15px 15px;
    height: 100%;
    z-index: 1;

}
.welcome-marin {
    margin: 0px 35% 20px ;
    background-color: #393e3cdb;
    color: #838484;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}
.left-chat {
    background-color: #393e3cdb;
    color: #838484;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 35%;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 25px;
}
.right-chat {
    background-color: #075E54;
    color: #838484;
    gap: 10px;
    width: 35%;
    border-radius: 15px;
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 25px;
}
.right-chat-bottom {
    background-color: #075E54;
    color: #838484;
    gap: 10px;
    width: 35%;
    border-radius: 15px;
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 25px;
}
#clear {
    clear: both;
}
.time-1 {
    position: absolute;
    right: 10px;
    top: 13px;
}
.time-1-cs-1 {
    position: absolute;
    right: 10px;
    top: 40px;
}
.time-1-cs-2 {
    position: absolute;
    right: 10px;
    top: 30px;
}
.time-1-cs-3 {
    position: absolute;
    right: 10px;
    top: 65px;
}
.time-1-cs-4 {
    position: absolute;
    right: 10px;
    top: 31px;
}

.left-chat-pap {
    position: relative;
    height: 300px;
    width: 35%;
    margin: 0px 0px 45px 15px;
}
#sender {
    background-color: #838484;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 15px;
    margin: 20px 25px 0px 25px;
    width: 85%;
}
.input-text {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: none;
}
.input-text:focus {
    background-color: #393e3c00;
    color: black;
    outline: none;
}
#sender2 {
    display: flex;
    flex-direction: row;
    float: right;
    position: absolute;
    right: 55px;
    bottom: 10px;
    gap: 27px;
    padding-right: 5px;
}
#flex-container-bottom {
    position: sticky;
    bottom: 0;
}
.vc {
    background-color: #075E54;
    border-radius: 15px;
}

@media screen and (max-device-width: 471px) {
    #flex-container1 {
        scale: 0.8;
        transform: translateX(-50px);
    }
    #flex-container2 {
        gap: 10px;
        scale: 0.8;
        right: 5px;
    }
    .welcome-marin {
        margin: 0px 25% 20px ;
        scale: 0.9;
    }
    .left-chat {
        scale: 0.9;
        transform: translateX(-32px);
        width: 50%;
    }
    .right-chat {
        scale: 0.9;
        transform: translateX(32px);
        width: 50%;
    }
    .right-chat-bottom {
        scale: 0.9;
        transform: translateX(32px);
        width: 50%;
    }
    #sender {
        background-color: #838484;
        padding: 10px;
        flex-direction: row;
        border-radius: 15px;
        margin: 0;
        scale: 0.7;
        width: 450px;
        transform: translateX(-95px);
    }
    #sender2 {
        scale: 0.7;
        transform: translateX(65%);
    }
    .input-text {
        width: 300px;
        font-size: 25px;
    }
}
